#window {
margin: 5px;
background-color: #fbf1c7;
} 

#input {
margin: 5px;
background-color: #282828;
}

#scroll {
margin: 5px;
background-color: #282828;
}

#text {
margin: 5px;
background-color: #282828;
} 
